body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: pink !important;
}

.container {
    text-align: center;
    max-width: 300px; /* Adjust the maximum width as needed */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
}

.gif-container {
    margin-top: 20px;
}

.gif-container .tenor-gif-embed {
    display: block;
    margin: 0 auto;
}